.headerItems{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}

.headerTitlesSmall{
    color: rgb(159, 164, 168);
    /* position: absolute; */
}

.headerTitlesLarge{
    margin-top: 10px;
    position: absolute;
    font-size: 500%;
}

.headerImg{
    margin-top: 30px;
    width:100% ;
    height: 450px;
    object-fit: cover;

}